<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App</title>
  <link href="/images/favicon.ico" rel="icon">
  <link href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/rolemaster/style.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>
  <!-- Navbar / Header -->
  <nav>
    <% if (permissions.includes("menu")) { %>
      <button class="btn btn-outline-light menu-btn">☰</button>
    <% } %> 

    <div style="display: flex; gap:10px; align-items: center;">
      <img src="https://avatar.iran.liara.run/username?username=<%= username %>" 
        alt="user" 
        style="width:40px; aspect-ratio: 1/1; border-radius: 50%;"/>
      <button class="btn btn-danger ms-auto" id="logout-btn">Logout</button>
    </div>
  </nav>

  <% if (permissions.includes("menu")) { %>
    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-white position-fixed h-100 p-3">
      <div id="menu-btn-container">
        <h4 class="mb-4">Menu</h5>
          <button class="btn btn-outline-light me-3 menu-btn">X</button>
      </div>
      <ul class="nav flex-column mt-3">
        <li class="nav-item"><a href="/dashboard" class="nav-link text-white">Dashboard</a></li>
        <li class="nav-item"><a href="/categorymaster" class="nav-link text-white">Category master</a></li>
        <li class="nav-item"><a href="/usermaster" class="nav-link text-white">User master</a></li>
        <li class="nav-item"><a href="/rolemaster" class="nav-link text-white">Role master</a></li>
      </ul>
    </div>
  <% } %> 

  <!-- Main Section -->
  <main class="container-fluid">
    <div id="detail-card-container">
      <% if (permissions.includes("role.count")) { %>
        <div class="detail-card">
          <p class="count-text" id="roleCount"></p>
          <p class="card-name-text">No. of roles</p>
        </div>
      <% } %> 
      <% if (permissions.includes("role.create")) { %>
        <button class="detail-card add-role" >
          <p class="count-text add-symbol-text">+</p>
          <p class="card-name-text">Add role</p>
        </button>
      <% } %> 
    </div>

    <% if (permissions.includes("role.list")) { %>
      <div id="usermaster-container">
        <h2>Roles</h2>
        <table class="table table-striped table-hover align-middle rounded-lg" id="roleTable">
          <thead class="table-light">
            <tr>
              <th>S no.</th>
              <th>Role</th>
              <th>Created At</th>
              <% if (permissions.includes("role.update") || permissions.includes("role.delete") ) { %><th></th><% } %>
            </tr>
          </thead>
          <tbody id="roleTableBody">
            <!-- Rows appended dynamically -->
          </tbody>
        </table>
      </div>
    <% } %>

    <% if (permissions.includes("role.create")) { %>
      <div id="role-creation-dailog">
        <div style="display: flex; flex-direction: row; justify-content:space-between; width: 50%; margin:0 auto; margin-bottom: 10px;">
          <h2>Add role</h2>
          <button class="btn add-role" style="border: none; background-color: #2C2C2C; color:white">X</button>
        </div>
        <form id="role-creation">
          <div class="mb-3 w-50">
            <label for="name" class="form-label">name</label>
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter role name" 
              required>
          </div>

          <!-- Dropdown wrapper -->
          <div class="dropdown w-50 mb-3">
            <!-- Input-like container -->
            <label class="form-label">permissions to control user</label>
            <div class="multiselect-container form-control w-100 users-permissions" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                <span class="text-muted">Select options...</span>
                <span class="text-muted" style="font-size: 24px;">˅</span>
              </div>
            </div>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu p-2" style="width: 100%;">
              <li><label class="dropdown-item"><input type="checkbox" value="user.list" class="form-check-input me-2" id="List">List</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="user.create" class="form-check-input me-2" id="Create">Create</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="user.update" class="form-check-input me-2" id="Update">Update</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="user.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="user.count" class="form-check-input me-2" id="Count">Count</label></li>

            </ul>
          </div>

          <!-- Dropdown wrapper -->
          <div class="dropdown w-50 mb-3">
            <!-- Input-like container -->
            <label class="form-label">permissions to control roles</label>
            <div class="multiselect-container form-control w-100 roles-permissions" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                <span class="text-muted">Select options...</span>
                <span class="text-muted" style="font-size: 24px;">˅</span>
              </div>
            </div>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu p-2" style="width: 100%;">
              <li><label class="dropdown-item"><input type="checkbox" value="role.list" class="form-check-input me-2" id="List">List</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="role.create" class="form-check-input me-2" id="Create">Create</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="role.update" class="form-check-input me-2" id="Update">Update</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="role.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="role.count" class="form-check-input me-2" id="Count">Count</label></li>
            </ul>
          </div>

          <!-- Dropdown wrapper -->
          <div class="dropdown w-50 mb-3">
            <!-- Input-like container -->
            <label class="form-label">permissions to control categories</label>
            <div class="multiselect-container form-control w-100 categories-permissions"  id="" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                <span class="text-muted">Select options...</span>
                <span class="text-muted" style="font-size: 24px;">˅</span>
              </div>
            </div>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu p-2" style="width: 100%;">
              <li><label class="dropdown-item"><input type="checkbox" value="category.list" class="form-check-input me-2" id="List">List</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="category.create" class="form-check-input me-2" id="Create">Create</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="category.update" class="form-check-input me-2" id="Update">Update</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="category.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="category.count" class="form-check-input me-2" id="Count">Count</label></li>
            </ul>
          </div>

          <!-- Dropdown wrapper -->
          <div class="dropdown w-50 mb-3">
            <!-- Input-like container -->
            <label class="form-label">permissions to control blogs</label>
            <div class="multiselect-container form-control w-100 blogs-permissions"  data-bs-toggle="dropdown" aria-expanded="false">
              <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                <span class="text-muted">Select options...</span>
                <span class="text-muted" style="font-size: 24px;">˅</span>
              </div>
            </div>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu p-2" style="width: 100%;">
              <li><label class="dropdown-item"><input type="checkbox" value="blog.list" class="form-check-input me-2" id="List">List</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="blog.create" class="form-check-input me-2" id="Create">Create</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="blog.update" class="form-check-input me-2" id="Update">Update</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="blog.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="blog.count" class="form-check-input me-2" id="Count">Count</label></li>
              <li><label class="dropdown-item"><input type="checkbox" value="blog.get" class="form-check-input me-2" id="Get">Get</label></li>
            </ul>
          </div>

          <button type="submit" class="btn btn-primary w-50 align-middle">Add</button>
        </form>
      </div>
    <% } %>

    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-header">
            <h5 class="modal-title" id="formModalLabel">Enter Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="modalForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="nameInput" class="form-label">name</label>
                <input type="text" id="nameInput" name="name" class="form-control" required>
              </div>
              <!-- Dropdown wrapper -->
              <div class="dropdown mb-3">
                <!-- Input-like container -->
                <label class="form-label">permissions to control user</label>
                <div class="multiselect-container form-control w-100 users-permissions" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="text-muted">Select options...</span>
                    <span class="text-muted" style="font-size: 24px;">˅</span>
                  </div>
                </div>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu p-2" style="width: 100%;">
                  <li><label class="dropdown-item"><input type="checkbox" value="user.list" class="form-check-input me-2" id="List">List</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="user.create" class="form-check-input me-2" id="Create">Create</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="user.update" class="form-check-input me-2" id="Update">Update</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="user.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="user.count" class="form-check-input me-2" id="Count">Count</label></li>

                </ul>
              </div>

              <!-- Dropdown wrapper -->
              <div class="dropdown mb-3">
                <!-- Input-like container -->
                <label class="form-label">permissions to control roles</label>
                <div class="multiselect-container form-control w-100 roles-permissions"  data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="text-muted">Select options...</span>
                    <span class="text-muted" style="font-size: 24px;">˅</span>
                  </div>
                </div>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu p-2" style="width: 100%;">
                  <li><label class="dropdown-item"><input type="checkbox" value="role.list" class="form-check-input me-2" id="List">List</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="role.create" class="form-check-input me-2" id="Create">Create</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="role.update" class="form-check-input me-2" id="Update">Update</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="role.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="role.count" class="form-check-input me-2" id="Count">Count</label></li>
                </ul>
              </div>

              <!-- Dropdown wrapper -->
              <div class="dropdown mb-3">
                <!-- Input-like container -->
                <label class="form-label">permissions to control categories</label>
                <div class="multiselect-container form-control w-100 categories-permission"  data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="text-muted">Select options...</span>
                    <span class="text-muted" style="font-size: 24px;">˅</span>
                  </div>
                </div>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu p-2" style="width: 100%;">
                  <li><label class="dropdown-item"><input type="checkbox" value="category.list" class="form-check-input me-2" id="List">List</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="category.create" class="form-check-input me-2" id="Create">Create</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="category.update" class="form-check-input me-2" id="Update">Update</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="category.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="category.count" class="form-check-input me-2" id="Count">Count</label></li>
                </ul>
              </div>

              <!-- Dropdown wrapper -->
              <div class="dropdown mb-3">
                <!-- Input-like container -->
                <label class="form-label">permissions to control blogs</label>
                <div class="multiselect-container form-control w-100 blogs-permissions" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="px-3 w-100" style="display: flex; justify-content: space-between; align-items: center;">
                    <span class="text-muted">Select options...</span>
                    <span class="text-muted" style="font-size: 24px;">˅</span>
                  </div>
                </div>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu p-2" style="width: 100%;">
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.list" class="form-check-input me-2" id="List">List</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.create" class="form-check-input me-2" id="Create">Create</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.update" class="form-check-input me-2" id="Update">Update</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.delete" class="form-check-input me-2" id="Delete">Delete</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.count" class="form-check-input me-2" id="Count">Count</label></li>
                  <li><label class="dropdown-item"><input type="checkbox" value="blog.get" class="form-check-input me-2" id="Get">Get</label></li>
                </ul>
              </div>
              <input type="hidden" name="id" id="hiddenId">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
          <div class="modal-header" style="border:none;">
            <h5 class="modal-title" id="formModalLabel">Are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="deleteForm">
            <div class="modal-body" style="border:none;">
              <input type="hidden" name="id" id="hiddenIdInDeleteModal">
            </div>
            <div class="modal-footer" style="border:none;">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-success">Yes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <div id="toastContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999"></div>

  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
  <script src="/toast/script.js"></script>
  <script>
    // Pass permissions from EJS into frontend
    const userPermissions = <%- JSON.stringify(permissions || []) %>;
  </script>
  <script src="/rolemaster/script.js"></script>
</body>

</html>